[submodule "preprocess"]
	path = preprocess
	branch = main
	url = https://github.com/CassiniHuy/image-low-pass-filters-pytorch.git
[submodule "wav2vec2"]
	path = wav2vec2
	branch = main
	url = https://github.com/CassiniHuy/wav2vec2_finetune.git
